@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  height: 100%;
  padding: 20px;
}

nav .nav-left,
.nav-right {
  margin: 2px 20px;
}

nav .nav-left a {
  font-size: 23px;
  color: gray;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}
